.clearfix{
    &after{
        content: "";
        display: table;
        clear: both;
    }
    margin: 0 auto;
    padding: -10rem 0;
}

.left{
    transform: rotate(-90deg);
    transform-origin: 89% 165%;
    float: left;

        color: black; 
        width: 368px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: normal;
        &:before{
            content: '';
            border-top: 2px solid black;
            margin: 0 17px 0 0;
            flex: 1 0 17px;
            color: black;
        }
        letter-spacing: 12px;
    @media only screen and (max-width: 600px) {
        // position: absolute;
        transform: rotate(0);
        transform-origin: 0;
        letter-spacing: 0px;
        width: 18rem;

    }
}

.right{
    float: left;
    display: flex;
    width: 40vw;
    justify-content: space-between;
    li{
        list-style-image: url('./Polygon.png');
        list-style-type: disc;
        margin-left: 1rem;
        img{
            transform: translateY(1px)
        }
    }
    @media only screen and (max-width: 600px) {
    width: auto;
    }
}