.header{
    padding: 1rem 0 3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #000;
    font-size: 2rem;
    text-decoration: none;
    @media only screen and (max-width: 600px)  {
        font-size: 2rem;
    }
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin:0;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        color: red;
    }
}

.nav-item {
    color: #999999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    &:hover{
        color: #666666;
    }
}

.active-nav-item{
    color: #333;
}

// @media only screen and (max-width: 600px) {